  
.list {
  list-style: none;
}
.ReviewsList {
  margin-left: 20px;
  padding: 15px;
}
.Item {
  margin-bottom: 15px;
  border-bottom: 1px solid #2a2a2a;
  border-right: 1px solid #2a2a2a;
  & p {
    margin-top: 8px;
  }
}
.NotReviews {
  margin: 15px;
}